@import url('https://fonts.googleapis.com/css2?family=Young+Serif:wght@400&family=Outfit:wght@400;600;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --font-body-size: 16px;

    --font-heading: "Young Serif", serif;
    --font-body: "Outfit", sans-serif;
    --font-weight-body: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--stone-150);
    font-size: var(--font-body-size);
    font-family: var(--font-body);
    color: var(--stone-600);
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    max-width: 700px;
    width: 100%;
    padding: 30px;
    border-radius: 12px;
}

.card-image {
    width: 100%;
    overflow: hidden;
}

.card-img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}

.card-title {
    font-size: 40px;
    color: var(--stone-900);
    font-family: var(--font-heading);
    margin-top: 30px;
}

.card-text {
    font-size: 16px;
    margin-top: 15px;
    line-height: 1.5;
}


.card-preparation {
    padding: 20px;
    background-color: var(--rose-50);
    margin-top: 25px;
    border-radius: 10px;
}

.preparation-title {
    font-size: 28px;
    color: var(--rose-800);
    margin-bottom: 10px;
}

li {
    line-height: 1.7;
}

ul {
    list-style-position: inside;
}

ol {
    list-style: none;
    counter-reset: step;
}

ol li {
    counter-increment: step;
    padding-left: 32px;
    position: relative;
}

ol li::before {
    content: counter(step) ".";
    position: absolute;
    left: 0;
    font-weight: bold;
    color: var(--brown-800);
}



.card-ingredients {
    margin-top: 25px;
}


.ingredients-title {
    font-size: 28px;
    color: var(--brown-800);
    font-family: var(--font-heading);
    margin-bottom: 10px;
}

.section-divider {
    border: none;
    border-top: 1px solid var(--stone-150);
    margin: 32px 0;
}

.instructions-title {
    font-size: 28px;
    color: var(--brown-800);
    font-family: var(--font-heading);
    margin-bottom: 10px;
}

.nutrition-title {
    font-size: 28px;
    color: var(--brown-800);
    font-family: var(--font-heading);
    margin-bottom: 10px;
}

.nutrition-wrapper {
    margin-top: 10px;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 30px;
}

.item span {
    color: var(--brown-800);
    font-weight: var(--font-weight-bold);
}

.nutrition-divider {
    border: none;
    border-top: 1px solid var(--stone-150);
}

@media (max-width: 768px) {

    .container {
        padding: 0;
    }

    .card-wrapper {
        padding: 0px;
    }

    .card {
        max-width: 100%;
        padding: 0;
        border-radius: 0;
    }


    .card-img {
        border-radius: 0;
    }

    .card-body {
        padding: 20px 30px;
    }

    .card-title {
        font-size: 32px;
        margin-top: 10px;
    }

    .preparation-title,
    .ingredients-title,
    .instructions-title,
    .nutrition-title {
        font-size: 24px;
    }

    ol li,
    ul li {
        margin-bottom: 10px;
    }




    .card-preparation {
        padding: 30px;
        margin-top: 30px;
    }



    li {
        line-height: 1.5;
    }


}